[package]
name = "wasm-hello-world"
version = "0.1.0"
edition = "2018"

# Avoid getting picked up by parent workspaces.
[workspace]
members = ["."]

[dependencies]
wasmer = "4.0.0"

[dependencies.capnp]
path = "../../capnp"

[dependencies.capnp-import]
path = "../../capnp-import"
