dist: trusty
sudo: false
language: rust
rust:
  - nightly
  - beta
  - stable
env:
  global:
    - export PATH="$PATH:$HOME/bin"
    - export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$HOME/lib"
addons:
  apt:
    packages:
      - gcc
      - g++
install:
  - curl -O https://capnproto.org/capnproto-c++-0.5.3.tar.gz
  - tar zxf capnproto-c++-0.5.3.tar.gz
  - cd capnproto-c++-0.5.3
  - ./configure --prefix=$HOME
  - make -j3
  - make install
  - cd ../
script:
  - cargo build
  - cargo test
  - cargo doc
  - cd test
  - cargo test
