[workspace.package]
rust-version = "1.65.0"

[workspace]

# TODO(0.18): switch to `resolver = "2"`, and update capnpc/Cargo.toml to
# include the `std` feature of the capnp crate.
# This possible now that https://github.com/rust-lang/cargo/pull/7820 has landed.
resolver = "1"

members = [
    # main crates, published on crates.io
    "capnp",
    "capnpc",
    "capnp-futures",
    "capnp-rpc",
    "capnp-import",

    # testing and examples
    "async-byte-channel",
    "benchmark",
    "capnpc/test",
    "capnpc/test/external-crate",
    "capnpc/test-edition-2015",
    "capnpc/test-edition-2018",
    "capnpc/test-edition-2021",
    "capnp-futures/test",
    "capnp-rpc/examples/hello-world",
    "capnp-rpc/examples/calculator",
    "capnp-rpc/examples/pubsub",
    "capnp-rpc/test",
    "example/addressbook",
    "example/addressbook_send",
    "example/fill_random_values",
]
default-members = [
    "capnp",
    "capnpc",
]