#[link(name = "capnproto-rust-test", vers = "0.0", author = "dwrensha")];

#[crate_type = "bin"];

pub mod common;
pub mod endian;
pub mod layout;
pub mod arena;
pub mod message;
pub mod serialize;

pub mod list;

pub mod addressbook_capnp;

// TODO figure out how to compile capnproto-rust separately as a library.


fn main() {
    use message::*;
//    use layout::*;
    use addressbook_capnp::*;

    let message = MessageBuilder::new_default();

    let addressbook = AddressBook::Builder::new(message.initRoot(AddressBook::STRUCT_SIZE));

    let people = addressbook.initPeople(4);

    let person = people.get(0);
    person.setId(1);
    person.setName("Alice");
    person.getEmployment().setEmployer("widgco");

    let person = people.get(1);
    person.setId(2);
    person.setName("Bob");
    person.getEmployment().setSelfEmployed();

    let person = people.get(2);
    person.setId(3);
    person.setName("Charlie");
    person.getEmployment().setUnemployed();

    let person = people.get(3);
    person.setId(255);
    person.setName("Diane");
    person.getEmployment().setSchool("Caltech");

    let outStream = std::io::stdout();

    serialize::writeMessage(outStream, message)

}