#[link(name = "capnproto-rust-test", vers = "0.0", author = "dwrensha")];

#[crate_type = "bin"];

pub mod common;
pub mod endian;
pub mod layout;
pub mod arena;
pub mod message;
pub mod serialize;

pub mod list;

pub mod addressbook_capnp;

// TODO figure out how to compile capnproto-rust separately as a library.


fn main() {
    use message::*;
//    use layout::*;
    use addressbook_capnp::*;

    let message = MessageBuilder::new_default();

    let addressbook = AddressBook::Builder::new(message.initRoot(AddressBook::STRUCT_SIZE));

    let outStream = std::io::stdout();

    serialize::writeMessage(outStream, message)

}