[package]

name = "capnp"
version = "0.14.0-alpha"
authors = [ "David Renshaw <dwrenshaw@gmail.com>" ]
license = "MIT"
description = "runtime library for Cap'n Proto data encoding"
repository = "https://github.com/capnproto/capnproto-rust"
documentation = "https://docs.capnproto-rust.org/capnp/"
edition = "2018"

readme = "README.md"

keywords = ["encoding", "protocol", "serialization"]

[lib]

name = "capnp"
path = "src/lib.rs"

[dependencies]
quickcheck = { version = "0.9", optional = true }

[dev-dependencies]
quickcheck = "0.9"

[features]
default = ["std", "sync_reader"]

rpc_try = []

# If enabled, relaxes alignment requirements on segments.
# This has a performance cost on some targets (e.g. ARMv6).
unaligned = []

# If disabled, turns on no_std, which tells rustc to not link
# with the Rust standard library.
std = []

# If disabled, message reader will not be `Sync`. This can be used
# to support platforms where `AtomicUsize` is not available.
# To be replaced by #[cfg(target_has_atomic = ...)] once it lands.
# See: https://github.com/rust-lang/rust/issues/32976
sync_reader = []