#[link(name = "capnpc-rust", vers = "alpha", author = "dwrensha")];

#[crate_type = "bin"];

extern mod capnprust;

use capnprust::*;

pub mod schema_capnp;

fn camelCaseToAllCaps(s : &str) -> ~str {
    let bytes = s.as_bytes();
    let mut result_bytes : ~[u8] = ~[];
    for bytes.iter().advance |&b| {

        // strings will be null-terminated
        if (b != 0) {
            let c = b as char;
            assert!(std::char::is_alphanumeric(c), fmt!("not alphanumeric '%c'", c));
            if (std::char::is_uppercase(c)) {
                result_bytes.push('_' as u8);
            }

            let b1 = unsafe {
                std::libc::toupper(b as std::libc::c_char) as u8
            };

            result_bytes.push(b1);
        }
    }
    return std::str::from_bytes(result_bytes);
}

fn capitalizeFirstLetter(s : &str) -> ~str {
    let bytes = s.as_bytes();
    let mut result_bytes : ~[u8] = ~[];
    for bytes.iter().advance |&b| {
        result_bytes.push(b);
    }

    result_bytes[0] = unsafe {
        std::libc::toupper(result_bytes[0] as std::libc::c_char) as u8
    };

    return std::str::from_bytes(result_bytes);
}

#[test]
fn testCamelCaseToAllCaps() {
    assert_eq!(camelCaseToAllCaps("fooBar"), ~"FOO_BAR");
    assert_eq!(camelCaseToAllCaps("fooBarBaz"), ~"FOO_BAR_BAZ");
    assert_eq!(camelCaseToAllCaps("helloWorld"), ~"HELLO_WORLD");
}

enum FormattedText {
    Indent(~FormattedText),
    Branch(~[FormattedText]),
    Line(~str),
    BlankLine
}

fn toLines(ft : &FormattedText, indent : uint) -> ~[~str] {
    match *ft {
        Indent (ref ft) => {
            return toLines(*ft, indent + 1);
        }
        Branch (ref fts) => {
            return do fts.flat_map |ft| {toLines(ft, indent)};
        }
        Line(ref s) => {
            let mut s1 : ~str = std::str::from_chars(
                std::vec::from_elem(indent * 2, ' '));
            s1.push_str(*s);
            return ~[s1];
        }
        BlankLine => return ~[~""]
    }
}

fn stringify(ft : & FormattedText) -> ~str {
    let mut result = toLines(ft, 0).connect("\n");
    result.push_str("\n");
    return result;
}

fn appendName (names : &[~str], name : ~str) -> ~[~str] {
    let mut result : ~[~str] = ~[];
    for names.iter().advance |n| {
        result.push(n.to_owned());
    }
    result.push(name);
    return result;
}

//type NodeMap = std::hashmap::HashMap<u64, schema_capnp::Node::Reader>;

fn populateScopeMap(nodeMap : &std::hashmap::HashMap<u64, schema_capnp::Node::Reader>,
                    scopeMap : &mut std::hashmap::HashMap<u64, ~[~str]>,
                    nodeId : u64) {
    let nodeReader = nodeMap.get(&nodeId);

    let nestedNodes = nodeReader.getNestedNodes();
    for std::uint::range(0, nestedNodes.size()) |ii| {
        let nestedNode = nestedNodes.get(ii);
        let id = nestedNode.getId();
        let name = nestedNode.getName().to_owned();

        let scopeNames = {
            if (scopeMap.contains_key(&nodeId)) {
                let names = scopeMap.get(&nodeId);
                appendName(*names, name)
            } else {
                ~[name]
            }
        };
        scopeMap.insert(id, scopeNames);
        populateScopeMap(nodeMap, scopeMap, id);
    }
}

fn generateImportStatements(rootName : &str) -> FormattedText {
    Branch(~[
        Line(~"use std;"),
        Line(~"use capnprust::layout::*;"),
        Line(~"use capnprust::list::*;"),
        Line(fmt!("use %s::*;", rootName))
    ])
}

fn getterStrings (_nodeMap : &std::hashmap::HashMap<u64, schema_capnp::Node::Reader>,
                  scopeMap : &std::hashmap::HashMap<u64, ~[~str]>,
                  field : &schema_capnp::StructNode::Field::Reader)
    -> (~str, ~str) {

    use schema_capnp::Type::Body;

    let typ = field.getType();
    let offset = field.getOffset() as uint;
//    let defaultValue = field.getDefaultValue();

    match typ.getBody() {
        Body::voidType => { return (~"()", ~"()")}
        Body::boolType => { return (~"bool", fmt!("self._reader.getDataFieldBool(%u)", offset)) }
        Body::int8Type => { return (~"i8", fmt!("self._reader.getDataField::<i8>(%u)", offset)) }
        Body::int16Type => { return (~"i16", fmt!("self._reader.getDataField::<i16>(%u)", offset)) }
        Body::int32Type => { return (~"i32", fmt!("self._reader.getDataField::<i32>(%u)", offset)) }
        Body::int64Type => { return (~"i64", fmt!("self._reader.getDataField::<i64>(%u)", offset)) }
        Body::uint8Type => { return (~"u8", fmt!("self._reader.getDataField::<u8>(%u)", offset)) }
        Body::uint16Type => { return (~"u16",
                                      fmt!("self._reader.getDataField::<u16>(%u)", offset)) }
        Body::uint32Type => { return (~"u32",
                                      fmt!("self._reader.getDataField::<u32>(%u)", offset)) }
        Body::uint64Type => { return (~"u64",
                                      fmt!("self._reader.getDataField::<u64>(%u)", offset)) }
        Body::float32Type => { return (~"f32",
                                       fmt!("self._reader.getDataField::<f32>(%u)", offset)) }
        Body::float64Type => { return (~"f64",
                                       fmt!("self._reader.getDataField::<f64>(%u)", offset)) }
        Body::textType => { return (~"&'self str",
                                    fmt!("self._reader.getTextField(%u, \"\")", offset)) }
        Body::dataType => {
            return (~"TODO", ~"TODO")
        }
        Body::listType(t1) => {
            match t1.getBody() {
                Body::uint64Type => {
                    return
                        (~"PrimitiveList::Reader<'self>",
                         fmt!("PrimitiveList::Reader::new(self._reader.getListField(%u,EIGHT_BYTES,None)",
                              offset))
                }
                Body::structType(id) => {
                    let scope = scopeMap.get(&id);
                    let theMod = scope.connect("::");
                    let reader = fmt!("%s::List::Reader", theMod);
                    return (fmt!("%s<'self>", reader),
                            fmt!("%s::new(self._reader.getListField(%u, %s::STRUCT_SIZE, None))",
                                 reader, offset, theMod)
                           );
                }
                _ => {return (~"TODO", ~"TODO") }
            }
        }
        Body::enumType(id) => {
            let scope = scopeMap.get(&id);
            let theMod = scope.connect("::");
            return
                (fmt!("%s::%s", theMod, *scope.last()),
                 fmt!("unsafe{std::cast::transmute(self._reader.getDataField::<u16>(%u) as uint)}",
                      offset))
        }
        Body::structType(id) => {
            let scope = scopeMap.get(&id);
            let theMod = scope.connect("::");
            return (fmt!("%s::Reader<'self>", theMod),
                    fmt!("%s::Reader::new(self._reader.getStructField(%u, None))",
                         theMod, offset))
        }
        Body::interfaceType(_) => {
            return (~"TODO", ~"TODO")
        }
        Body::objectType => {
            return (~"TODO", ~"TODO")
        }
    }
}

fn generateSetter(_nodeMap : &std::hashmap::HashMap<u64, schema_capnp::Node::Reader>,
                  scopeMap : &std::hashmap::HashMap<u64, ~[~str]>,
                  unionOffset : Option<(uint, uint)>,
                  capName : &str,
                  field :&schema_capnp::StructNode::Field::Reader) -> FormattedText {

    use schema_capnp::Type::Body;

    let typ = field.getType();
    let offset = field.getOffset() as uint;

    let mut result = ~[];
    result.push(Line(~"#[inline]"));

    let mut interior = ~[];

    match unionOffset {
        Some((doffset, idx)) => interior.push(
            Line(fmt!("self._builder.setDataField::<u16>(%u, %u);", doffset, idx))),
        None => { }
    }

    match typ.getBody() {
        Body::voidType => {result.push(Line(fmt!("pub fn set%s(&self, _value : ()) {",capName)))}
        Body::boolType => {
            result.push(Line(fmt!("pub fn set%s(&self, value : bool) {",capName)));
            interior.push(Line(fmt!("self._builder.setDataFieldBool(%u, value);", offset)))
        }
        Body::int8Type => {
            result.push(Line(fmt!("pub fn set%s(&self, value : i8) {",capName)));
            interior.push(Line(fmt!("self._builder.setDataField::<i8>(%u, value);", offset)))
        }
        Body::int16Type => {
            result.push(Line(fmt!("pub fn set%s(&self, value : i16) {",capName)));
            interior.push(Line(fmt!("self._builder.setDataField::<i16>(%u, value);", offset)))
        }
        Body::int32Type => {
            result.push(Line(fmt!("pub fn set%s(&self, value : i32) {",capName)));
            interior.push(Line(fmt!("self._builder.setDataField::<i32>(%u, value);", offset)))
        }
        Body::int64Type => {
            result.push(Line(fmt!("pub fn set%s(&self, value : i64) {",capName)));
            interior.push(Line(fmt!("self._builder.setDataField::<i64>(%u, value);", offset)))
        }
        Body::uint8Type => {
            result.push(Line(fmt!("pub fn set%s(&self, value : u8) {",capName)));
            interior.push(Line(fmt!("self._builder.setDataField::<u8>(%u, value);", offset)))
        }
        Body::uint16Type => {
            result.push(Line(fmt!("pub fn set%s(&self, value : u16) {",capName)));
            interior.push(Line(fmt!("self._builder.setDataField::<u16>(%u, value);", offset)))
        }
        Body::uint32Type => {
            result.push(Line(fmt!("pub fn set%s(&self, value : u32) {",capName)));
            interior.push(Line(fmt!("self._builder.setDataField::<u32>(%u, value);", offset)))
        }
        Body::uint64Type => {
            result.push(Line(fmt!("pub fn set%s(&self, value : u64) {",capName)));
            interior.push(Line(fmt!("self._builder.setDataField::<u64>(%u, value);", offset)))
        }
        Body::float32Type => {
            result.push(Line(fmt!("pub fn set%s(&self, value : f32) {",capName)));
            interior.push(Line(fmt!("self._builder.setDataField::<f32>(%u, value);", offset)))
        }
        Body::float64Type => {
            result.push(Line(fmt!("pub fn set%s(&self, value : f64) {",capName)));
            interior.push(Line(fmt!("self._builder.setDataField::<f64>(%u, value);", offset)))
        }
        Body::textType => {
            result.push(Line(fmt!("pub fn set%s(&self, value : &str) {",capName)));
            interior.push(Line(fmt!("self._builder.setTextField(%u, value);", offset)))
        }
        Body::dataType => { return BlankLine }
        Body::listType(t1) => {
            let returnType =
                match t1.getBody() {
                    Body::voidType | Body::boolType | Body::int8Type |
                    Body::int16Type | Body::int32Type | Body::int64Type |
                    Body::uint8Type | Body::uint16Type | Body::uint32Type |
                    Body::uint64Type | Body::float32Type | Body::float64Type => {
                        // TODO
                        ~""
                    }
                    Body::structType(id) => {
                        let scope = scopeMap.get(&id);
                        let theMod = scope.connect("::");

                        interior.push(Line(fmt!("%s::List::Builder::new(", theMod)));
                        interior.push(
                            Indent(
                                ~Line(
                                    fmt!("self._builder.initStructListField(0, size, %s::STRUCT_SIZE))",
                                         theMod))));

                        fmt!("%s::List::Builder", theMod)
                    }
                    _ => { ~"" }
                };
            result.push(Line(fmt!("pub fn init%s(&self, size : uint) -> %s {",
                                  capName, returnType)))
        }
        Body::enumType(id) => {
            let scope = scopeMap.get(&id);
            let theMod = scope.connect("::");
            result.push(Line(fmt!("pub fn set%s(&self, value : %s::%s) {",
                                  capName, theMod, *scope.last())));
            interior.push(
                Line(fmt!("self._builder.setDataField::<u16>(%u, value as u16)",
                          offset)));
        }
        Body::structType(id) => {
            let scope = scopeMap.get(&id);
            let theMod = scope.connect("::");
            result.push(Line(fmt!("pub fn init%s(&self) -> %s::Builder {",capName,theMod)));
            interior.push(
                Line(fmt!("%s::Builder::new(initStructField(%u, %s::STRUCT_SIZE))",
                          theMod, offset, theMod)));
        }
        Body::interfaceType(_) => {
            return BlankLine
        }
        Body::objectType => {
            return BlankLine
        }
    }

    result.push(Indent(~Branch(interior)));
    result.push(Line(~"}"));
    return Branch(result);
}

// Return (union_mod, union_getter)
fn generateUnion(nodeMap : &std::hashmap::HashMap<u64, schema_capnp::Node::Reader>,
                 scopeMap : &std::hashmap::HashMap<u64, ~[~str]>,
                 name : &str,
                 union : schema_capnp::StructNode::Union::Reader)
    -> (FormattedText, FormattedText) {

    let mut result = ~[];

    let mut getter_interior = ~[];

    let capitalizedName = capitalizeFirstLetter(name);

    result.push(Line(fmt!("pub mod %s {", capitalizedName)));
    let mut interior = ~[];
    let mut reader_interior = ~[];
    let mut builder_interior = ~[];

    builder_interior.push(
        Line(~"pub fn new(builder : StructBuilder) -> Builder { Builder { _builder : builder }}"));

    let doffset = union.getDiscriminantOffset() as uint;

    let members = union.getMembers();
    for std::uint::range(0, members.size()) |ii| {
        let member = members.get(ii);
        let memberName = member.getName();
        let enumerantName = camelCaseToAllCaps(memberName);

        match member.getBody() {
            schema_capnp::StructNode::Member::Body::FIELD_MEMBER(field) => {
                let (ty, get) = getterStrings(nodeMap, scopeMap, &field);

                reader_interior.push(Line(fmt!("%s(%s),",enumerantName, ty)));

                getter_interior.push(Branch(~[
                    Line(fmt!("%u => {", ii)),
                    Indent(~Line(fmt!("return %s::%s(%s);",
                                      capitalizedName, enumerantName, get))),
                    Line(~"}")
                ]));

                builder_interior.push(generateSetter(nodeMap, scopeMap, Some((doffset,ii)),
                                                     capitalizeFirstLetter(memberName), &field));

            }
            _ => fail!("impossible")
        }
    }

    getter_interior.push(Line(~"_ => fail!(\"impossible\")"));

    interior.push(
        Branch(~[Line(~"pub enum Reader<'self> {"),
                 Indent(~Branch(reader_interior)),
                 Line(~"}")]));
    interior.push(
        Line(~"pub struct Builder { _builder : StructBuiler }"));
    interior.push(
        Branch(~[Line(~"impl Builder {"),
                 Indent(~Branch(builder_interior)),
                 Line(~"}")]));


    result.push(Indent(~Branch(interior)));
    result.push(Line(~"}"));


    let getter_result =
        Branch(~[Line(~"#[inline]"),
                 Line(fmt!("pub fn get%s(&self) -> %s::Reader<'self> {",
                           capitalizedName, capitalizedName)),
                 Indent(~Branch(~[
                     Line(fmt!("match self._reader.getDataField::<u16>(%u) {", doffset)),
                     Indent(~Branch(getter_interior)),
                     Line(~"}")
                 ])),
                 Line(~"}")]);

    return (Branch(result), getter_result);
}

fn generateNode(nodeMap : &std::hashmap::HashMap<u64, schema_capnp::Node::Reader>,
                scopeMap : &std::hashmap::HashMap<u64, ~[~str]>,
                rootName : &str,
                nodeId : u64) -> FormattedText {
    use schema_capnp::*;

    let mut output: ~[FormattedText] = ~[];
    let mut nested_output: ~[FormattedText] = ~[];

    let nodeReader = nodeMap.get(&nodeId);
    let nestedNodes = nodeReader.getNestedNodes();
    for std::uint::range(0, nestedNodes.size()) |ii| {
        let nestedNode = nestedNodes.get(ii);
        let id = nestedNode.getId();
        let text = generateNode(nodeMap, scopeMap, rootName, id);
        nested_output.push(text);
    }

    match nodeReader.getBody() {

        Node::Body::FILE_NODE(fileNode) => {
            let imports = fileNode.getImports();
            for std::uint::range(0, imports.size()) |ii| {
                printfln!("  import %s", imports.get(ii).getName());
            }
            output.push(Branch(nested_output));
        }

        Node::Body::STRUCT_NODE(structNode) => {

            let names = scopeMap.get(&nodeId);
            output.push(BlankLine);

            output.push(Line(~"#[allow(unused_imports)]"));
            output.push(Line(fmt!("pub mod %s {", *names.last())));

            let mut preamble = ~[];
            let mut builder_members = ~[];
            let mut reader_members = ~[];
            let mut union_mods = ~[];

            let dataSize = structNode.getDataSectionWordSize();
            let pointerSize = structNode.getPointerSectionSize();
            let preferredListEncoding = structNode.getPreferredListEncoding();

            preamble.push(generateImportStatements(rootName));
            preamble.push(BlankLine);
            preamble.push(Line(~"pub static STRUCT_SIZE : StructSize = "));
            preamble.push(
                Indent(
                    ~Line(
                        fmt!("StructSize { data : %u, pointers : %u, preferredListEncoding : %s};",
                         dataSize as uint, pointerSize as uint,
                         preferredListEncoding.to_str()))));
            preamble.push(BlankLine);

            preamble.push(Line(fmt!("list_submodule!(%s, %s)",
                                    rootName, scopeMap.get(&nodeId).connect("::"))));
            preamble.push(BlankLine);

            let members = structNode.getMembers();
            for std::uint::range(0, members.size()) |ii| {
                let member = members.get(ii);
                let name = member.getName();
                let capName = capitalizeFirstLetter(name);
                match member.getBody() {
                    StructNode::Member::Body::FIELD_MEMBER(field) => {
                        let (ty, get) = getterStrings(nodeMap, scopeMap, &field);

                        reader_members.push(
                            Branch(~[
                                Line(~"#[inline]"),
                                Line(fmt!("pub fn get%s(&self) -> %s  {", capName, ty)),
                                Indent(~Line(get)),
                                Line(~"}")
                            ])
                        );

                        builder_members.push(
                            generateSetter(nodeMap, scopeMap, None, capName, &field));
                    }
                    StructNode::Member::Body::UNION_MEMBER(union) => {
                        let (union_mod, union_getter) =
                            generateUnion(nodeMap, scopeMap, name, union);
                        union_mods.push(union_mod);
                        reader_members.push(union_getter);
                    }
                }
            }

            let accessors =
                ~[Branch(preamble),
                  Line(~"pub struct Reader<'self> { _reader : StructReader<'self> }"),
                  Line(~"impl <'self> Reader<'self> {"),
                  Indent(
                      ~Branch(
                          ~[Line(~"pub fn new<'a>(reader : StructReader<'a>) -> Reader<'a> {"),
                            Indent(~Line(~"Reader { _reader : reader }")),
                            Line(~"}")
                            ])),
                  Indent(~Branch(reader_members)),
                  Line(~"}"),
                  BlankLine,
                  Line(~"pub struct Builder { _builder : StructBuiler }"),
                  Line(~"impl Builder {"),
                  Indent(
                      ~Branch(
                          ~[Line(~"pub fn new(builder : StructBuilder) -> Builder {"),
                            Indent(~Line(~"Builder { _builder : builder }")),
                            Line(~"}")
                            ])),
                  Indent(~Branch(builder_members)),
                  Line(~"}")];

            output.push(Indent(~Branch(~[Branch(accessors),
                                         Branch(union_mods),
                                         Branch(nested_output)])));
            output.push(Line(~"}"));
        }

        Node::Body::ENUM_NODE(enumNode) => {
            let names = scopeMap.get(&nodeId);
            output.push(Line(fmt!("pub mod %s {", *names.last())));

            let mut members = ~[];
            let enumerants = enumNode.getEnumerants();
            for std::uint::range(0, enumerants.size()) |ii| {
                let enumerant = enumerants.get(ii);
                members.push(
                    Line(fmt!("%s = %u,", camelCaseToAllCaps(enumerant.getName()), ii)));
            }

            output.push(Indent(~Branch(~[Line(~"pub enum Reader {"),
                                         Indent(~Branch(members)),
                                         Line(~"}")])));
            output.push(Line(~"}"));
        }

        Node::Body::INTERFACE_NODE(_) => { }

        Node::Body::CONST_NODE(_) => { }

        Node::Body::ANNOTATION_NODE( annotationNode ) => {
            std::io::println("  annotation node:");
            if (annotationNode.getTargetsFile()) {
                std::io::println("  targets file");
            }
            if (annotationNode.getTargetsConst()) {
                std::io::println("  targets const");
            }
            // ...
            if (annotationNode.getTargetsAnnotation()) {
                std::io::println("  targets annotation");
            }
        }
    }

    Branch(output)
}


fn main() {
    use capnprust::serialize::*;

    let inp = std::io::stdin();

    do InputStreamMessageReader::new(inp, message::DEFAULT_READER_OPTIONS) | messageReader | {
        let structReader = messageReader.getRoot();

        let codeGeneratorRequest =
            schema_capnp::CodeGeneratorRequest::Reader::new(structReader);

        let mut nodeMap = std::hashmap::HashMap::new::<u64, schema_capnp::Node::Reader>();
        let mut scopeMap = std::hashmap::HashMap::new::<u64, ~[~str]>();

        let nodeListReader = codeGeneratorRequest.getNodes();

        for std::uint::range(0, nodeListReader.size()) |ii| {

            let nodeReader = nodeListReader.get(ii);
            let id = nodeReader.getId();

            nodeMap.insert(id, nodeReader);
        }

        let requestedFilesReader = codeGeneratorRequest.getRequestedFiles();

        for std::uint::range(0, requestedFilesReader.size()) |ii| {

            let requestedFileId : u64 = requestedFilesReader.get(ii);
            std::io::println(fmt!("requested file: %x",
                                  requestedFileId as uint));

            populateScopeMap(&nodeMap, &mut scopeMap, requestedFileId);

            let fileNode = nodeMap.get(&requestedFileId);
            let displayName = fileNode.getDisplayName();
            printfln!(displayName);
            let mut rootName : ~str =
                match (displayName.rfind('/'), displayName.rfind('.')) {
                    (Some(s), Some(d)) => {
                        displayName.slice_chars(s + 1, d).to_owned()
                    }
                    (None, Some(d)) => {
                        displayName.slice_chars(0, d).to_owned()
                    }
                    _ => { fail!("bad file name: %s", displayName) }
                };

            rootName.push_str("_capnp");

            let text = stringify(&generateNode(&nodeMap, &scopeMap,
                                               rootName, requestedFileId));

            rootName.push_str(".rs");

            let path = &std::path::Path(rootName);
            match std::io::mk_file_writer(path, [std::io::Create, std::io::Truncate]) {
                Ok(writer) => { writer.write( text.as_bytes() )}
                Err(msg) => {printfln!("ERROR: %s", msg)}
            }

        }

        0;
    }
}